@charset "utf-8";
/* CSS Document */

.granparents{
	background-color: green;
}

#flavour1 {
	color:red;
}

#flavour2 {
	color:white;
}


.parents {
	background-color: blue;
}

.children{
	background-color: yellow;
}

.child1 {
	color:#F90;
}

.child3_1{
	color: #6F0;
}



#parent-property{
	color:red;
}